.search {
  text-align: center;
  margin-bottom: 50px;
}
.input_search {
  padding: 10px;
  border-radius: 5px;
}
.btn_search {
  border: 1px double black;
  padding: 6.6px 4px 8px 4px;
  border-radius: 4px;
}
